.button {
  border-radius: 2px;
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-block;    // for links being disguised as buttons - forces vertical height to be taken into account
  font-weight: 300;
  font-size: $font-large;
  line-height: 1;   // for links
  padding: $s-size;
  text-decoration: none;    // for links
}

.button--link {
  background: none;
  color: $pink;
}

.button--login {
  margin-bottom: $s-size;
}

.button--grey {
  background: $mid-grey;
}

.button--green {
  background: $green;
}

.button--pink {
  background: $pink;
}

.button--tertiary {
  font-size: $font-medium;
  padding: $xs-size;
}

.button--tertiary {
  font-size: $font-medium;
  padding: $xs-size;
}

.button--margin-right {
  margin-right: $s-size;
}

.button--margin-top {
  margin-top: $s-size;
}
