.button {
  background: $pink;
  border-radius: 2px;
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-block;    // for links being disguised as buttons - forces vertical height to be taken into account
  font-weight: 300;
  font-size: $font-large;
  line-height: 1;   // for links
  padding: $s-size;
  text-decoration: none;    // for links
  
  &--link {
    @extend .button;
    background: none;
    color: $pink;
  }
  &--login {
    @extend .button;
    margin-bottom: $s-size;
  }
  &--secondary {
    @extend .button;
    background: $mid-grey;
  }
  &--tertiary {
    @extend .button;
    background: $mid-grey;
    font-size: $font-medium;
    margin-top: $s-size;
    padding: $xs-size;
  }
  
  &--tertiary-pink{
    @extend .button;
    background: $pink;
    font-size: $font-medium;
    margin-top: $s-size;
    padding: $xs-size;
  }
}