// Intervening days
.CalendarDay--selected-span {
  background: lighten($green, 30%);
  color: white;
}

// First day in dropdown
.CalendarDay--selected-start {
  background: $green;
  color: white;
}


// Final day in dropdown
.CalendarDay--selected-end {
  background: $green;
  color: white;
}

// Selected input field
.DateInput__display-text--focused {
  background: $green;
  color: white;
}

// Input field
.DateInput {
  font-size: $font-medium;
}