// First day in dropdown
.CalendarDay--selected-start {
  background: $green;
  color: white;
}

// Intervening days
.CalendarDay--selected-span {
  background: lighten($green, 30%);
  color: white;
}

// Final day in dropdown
.CalendarDay--selected-end {
  background: $green;
  color: white;
}

// Selected input (always visible)
.DateInput__display-text--focused {
  background: $green;
  color: white;
}