.show-for-mobile {
  align-items: center;
  display: flex;
  justify-content: left;
  @media (min-width: $desktop-breakpoint) {
    display: none;
  }
}

.show-for-desktop {
  display: none;
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    display: flex;
    justify-content: left;
  }
}

.show-for-desktop--primary {
  width: 50%;
}